{{> header }}

<ul>
  <li>{{ first_name }}</li>
  <li>{{ last_name }}</li>
  <li>{{ user_id }}</li>
  <li>{{ email }}</li>
  <li>{{ resource_count }}</li>
  <li>{{ privilege_level }}</li>
</ul>

{{> footer }}
