{{> header }}

<table class="table-full">
  <tr class="table-head">
    <th>Paste Title</th>
    <th class="col-double-wide">Content</th>
    <th>Date Posted</th>
    <th>Expires</th>
  </tr>
  {{#each pastes }}
  <tr class="paste-row" data-href="/manage/paste/{{ id }}">

    <td>{{ title }}</td>
    <td class="paste-row-content"><div>
      {{ paste_data }}
    </div></td>
    <td>{{ date_added }}</td>
    <td>{{#if expiration_time }} {{ expiration_time }} {{ else }} Never {{/if }}</td> 
  </tr>
  {{/ each}}
</table>


{{> footer }}
