{{> header }}

<ul>
  <li><strong>Name:</strong> {{ first_name }} {{ last_name }}</li>
  <li><strong>Email:</strong> {{ email }}</li>
  <li><strong>Uploads:</strong> {{ resource_count }}</li>
  <li><strong>Privilege Level:</strong> {{ privilege_level }}</li>
</ul>

{{> footer }}
