{{> header }}
<div class="img-cont">
    <figure>
        <span class="helper"></span>
        <img class="wide-img" alt="" data-href="/image/{{ id }}" src="https://s3.eu-central-1.amazonaws.com/horuscdn/live/images/{{ id }}.png">
    </figure>
    <figcaption>
        <span>Uploaded {{ date_added }}</span>
        <br/>
        <span>Expires {{#if is_expiry }} {{ expiration_time }} {{ else }} Never {{/if }}</span>
        <br/>
        <ul class="img-options">
            <li id="img-delete" data-loc="images" data-method="delete" data-href="/image/{{ id }}"><a href="#">Delete Image</a></li>
            <li id="img-pw" data-method="post" data-href="/image/{{ id }}"><a href="#">Password Protect</a></li>
            <li id="img-expire" data-method="post" data-href="/image/{{ id }}"><a href="#">Change Expire Date</a></li>
            <li id="img-full"><a href="/image/{{ id }}">View Full Image</a></li>
        </ul>
    </figcaption>
</div>

{{> footer }}
