{{> header }}

<div class="paste-cont">
  

  <figure>
    <span class="helper"></span>
    <pre><code contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-href="/paste/{{ paste.id }}" class="paste-data">{{ paste.paste_data }}</code></pre>
    <br>
  </figure>

  <figcaption>
    <span>Uploaded on {{ paste.date_added }}</span>
    <br/>
    <span>Expires {{#if paste.is_expiry }} {{ paste.expiration_time }} {{ else }} Never {{/if }}</span>
    <br/>

    <ul class="img-options">
        <li id="img-delete" data-loc="pastes" data-method="delete" data-href="/paste/{{ paste.id }}"><a href="#">Delete Paste</a></li>
        <li id="img-pw" data-method="post" data-href="/paste/{{ paste.id }}"><a href="#">Password Protect</a></li>
        <li id="img-expire" data-method="post" data-href="/paste/{{ paste.id }}"><a href="#">Change Expire Date</a></li>
        <li id="img-full"><a href="/paste/{{ paste.id }}">View Paste</a></li>
    </ul>
  </figcaption>
</div>

{{> footer }}
