<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ item.title }}" />
  <meta property="og:description" content="Uploaded on: {{ item.date_added }}" />
  {{#if meta_tag }} {{ meta_tag }} {{/if }}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://s3.eu-central-1.amazonaws.com/horuscdn/favicon.ico">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style/show.css" />
  <title>{{ item.title }}</title>
</head>
<body>
<h1>{{ item.title }}</h1>
<div id="container">
